{% if pillar.client is defined %}
{% set project = pillar.client %}
{% else %}
{% set project = pillar.project %}
{% endif %}

{% set wasabi_key = salt['cmd.shell']('aws --region us-east-2 ssm get-parameter --name "/forumone/"' + project + '"/wasabi/key" --with-decryption | jq -r .Parameter.Value') %}
{% set wasabi_secret = salt['cmd.shell']('aws --region us-east-2 ssm get-parameter --name "/forumone/"' + project + '"/wasabi/secret" --with-decryption | jq -r .Parameter.Value') %}
{% set wasabi_bucket = salt['cmd.shell']('aws --region us-east-2 ssm get-parameter --name "/forumone/"' + project + '"/wasabi/bucket" --with-decryption | jq -r .Parameter.Value') %}